FLASK_APP=app
FLASK_ENV=development
SECRET_KEY=lkasjdf09ajsdkfljalsiorj12n3490re9485309irefvn,u90818734902139489230
DATABASE_URL=postgresql://starter_app_dev@localhost/starter_app
AWS_ACCESS_KEY_ID=AKIA4P5COM7LX5RYUX7O
AWS_SECRET_ACCESS_KEY=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
