.discover-page{
    margin-top: 40px;
    width: 55%;
    background-color: rgba(68, 68, 68, 0.705);
    color: rgb(255, 208, 0);
    border: 5px groove rgb(177, 145, 0);
    border-radius: 10px;
    margin: 50px auto 150px;
    font-family: 'Special Elite', cursive;
    display: flex;
    justify-content: center;
    align-items: center;

}

.disc-song-tittle{
    text-align: center;
}

.lines{
    background-color: rgb(255, 208, 0);
    border-radius: 100px;
    margin: 215px auto 45px;
    text-align: center;
    height: 1px;
    width: 70%;
}

.play-bttn{
    text-align: center;
    width: 38px;
    height: 38px;
}

.the-ps{
    font-size: 24px;
    text-align: center;
}

.trend-image{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-left: 50px;
    margin-right: 50px;
}

.song-bttn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 120px;
    margin-bottom: 5px;
    position: absolute;
    top: 700px;
    left: 360px;
    width: 40px;
    height: 40px;
}

.overflow{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 240px;
    width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* margin-right: 10px; */
    /* margin-left: 40px; */
    float: left;
    flex-direction: row;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}
.overflow:hover{
    overflow-y: auto;
}


.lines-trend{
    background-color: rgb(255, 208, 0);
    border-radius: 100px;
    margin:185px auto 45px;
    height: 1px;
    width: 70%;
}

.trending{
    text-align: center;
    margin-top: 35px;
}
.carousel{
    height: 780px;
    width: 1000px;
}
.slider2{
    height: 700px;;
    width: 1000px;
}

.outer{
    height: 750px;
}

.btn-back2{
    position : absolute;
    background-color: transparent;
    height: 100px;
    width: 80px;
    left: 0;
    top: 300px;
    /* transform: scaleX(-1); */
    background-image: url("https://res.cloudinary.com/dzjkwepju/image/upload/v1639703438/Styckr/A_3_sddvhl.png");
    background-size: 80px;
    background-repeat: no-repeat;
}
.btn-next2{
    position : absolute;
    background-color: transparent;
    right: 0;
    height: 90px;
    width: 80px;
    top: 300px;

    background-image: url("https://res.cloudinary.com/dzjkwepju/image/upload/v1639703492/Styckr/A_4_ztz9yn.png");
    background-size: 80px;
    background-repeat: no-repeat;
}

@media screen and (min-width: 2499px){
    .the-ps{
        font-size: 34px;
        text-align: center;
    }

    .trending{
        text-align: center;
        margin-top: 55px;
    }

    .disc-song-tittle{
        text-align: center;
        font-size: 44px;
    }

    .slider2{
        height: 900px;
        width: 1000px;
    }

    .carousel{
        height: 1000px;
        width: 1000px;
    }

    .btn-back2{
        position : absolute;
        background-color: transparent;
        height: 100px;
        width: 80px;
        left: 0;
        top: 550px;
        /* transform: scaleX(-1); */
        background-image: url("https://res.cloudinary.com/dzjkwepju/image/upload/v1639703438/Styckr/A_3_sddvhl.png");
        background-size: 80px;
        background-repeat: no-repeat;
    }
    .btn-next2{
        position : absolute;
        background-color: transparent;
        right: 0;
        height: 90px;
        width: 80px;
        top: 550px;

        background-image: url("https://res.cloudinary.com/dzjkwepju/image/upload/v1639703492/Styckr/A_4_ztz9yn.png");
        background-size: 80px;
        background-repeat: no-repeat;
    }

    .song-bttn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-left: 120px;
        margin-bottom: 5px;
        position: absolute;
        top: 930px;
        left: 360px;
        width: 40px;
        height: 40px;
    }

    .play-bttn{
        text-align: center;
        width: 38px;
        height: 38px;
    }

}

@media screen and (max-width:1441px){
.slider2{
    margin-left: 150px;
    height: 550px;
    width: 700px;
}

.btn-next2{
    right: 150px;
}

.btn-back2{
    left: 150px;
}

.lines-trend{
    margin-top: 80px;
}

.lines{
    margin-top: 85px;
}
}
