.discover-page{
    margin-top: 40px;
    width: 55%;
    background-color: white;
    margin: 50px auto 150px;
    font-family: 'Special Elite', cursive;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lines{
    background-color: rgb(197, 197, 197);
    border-radius: 100px;
    margin-top: 45px;
    margin-bottom: 45px;
    height: 1px;
    width: 100%;
}

.the-ps{
    font-size: 24px;
}
