.discover-page{
    margin-top: 40px;
    width: 55%;
    background-color: rgba(155, 155, 155, 0.705);
    border: 5px groove rgb(177, 145, 0);
    border-radius: 10px;
    margin: 50px auto 150px;
    font-family: 'Special Elite', cursive;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lines{
    background-color: rgb(197, 197, 197);
    border-radius: 100px;
    margin: 415px auto 45px;
    text-align: center;
    height: 1px;
    width: 70%;
}

.play-bttn{
    text-align: center;
    width: 38px;
    height: 38px;
}

.the-ps{
    font-size: 24px;
    text-align: center;
}

.trend-image{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-left: 50px;
    margin-right: 50px;
}

.song-bttn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 120px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

.overflow{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 240px;
    width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* margin-right: 10px; */
    /* margin-left: 40px; */
    float: left;
    flex-direction: row;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}
.overflow:hover{
    overflow-y: auto;
}

.songs-bttns{
    /* overflow-x: hidden;
     height: 240px;
     width: 500px;
     margin-top: 40px;
     margin-right: 40px;
     margin-left: 40px;
     float: left;
     flex-direction: row;
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center; */
}

.lines-trend{
    background-color: rgb(197, 197, 197);
    border-radius: 100px;
    margin:385px auto 45px;
    height: 1px;
    width: 70%;
}

.trending{
    text-align: center;
    margin-top: 35px;
}
