.footer{
    color: white;
    background-color: rgb(49, 44, 44);
    border-color: rgb(177, 145, 0);
    border-style: groove none none;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.©{
    color: rgb(0, 238, 255);
}

.cont{
    margin-left: 10px;
}

.max{
    margin-left: 10px;
    margin-right: 10px;
}

.pat{

}

.sam{
    margin-left: 10px;
    margin-right: 10px;
}

.g-hub{
    margin-left: 10px;
}

.linked{
    margin-left: 10px;
    margin-right: 10px;
}
