.discover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more{
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}

.the-search{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bttn-upload{
    background-color: rgb(0, 238, 255);
    border-radius: 5px;
    padding-top: 4px;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
}

.other-main{
    text-align: center;
    font-size: 24px;
    width:370px;
}

.playlist-bttn{
    font-family: 'Special Elite', cursive;
    padding-top: 7px;
    border-radius: 5px;
    background-color: rgb(0, 238, 255);
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.lower{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-body{
    margin: 30px auto 100px;
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Special Elite', cursive;

}

.trend-image{
    width: 160px;
    height: 160px;
}

.the-trends{
    overflow-x: hidden;
    margin: 4px 4px;
    padding-left: 40px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 550px;
    height: 200px;
    scrollbar-width: thin;
    scrollbar-color: #6969dd;
    scrollbar-gutter: stable;

}

.the-trends:hover{
    overflow-x: scroll;
}
