.discover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.the-search{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 300px;
}

.home-body{
    margin: 0 auto 0;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
