ul {
    list-style-type: none;
    

}
li{
    float: left;
}



.nav{
    background-color: rgb(37, 37, 37);
    height: 59px;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}

.links{
    font-family: 'Special Elite', cursive;

    color: rgb(0, 238, 255);
    text-decoration: none;
    margin-right: 10px;
}

.link-signin{
    font-family: 'Special Elite', cursive;

    color: rgb(0, 238, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    border: solid gray 1px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.homie{
    font-size: 24px;
    background-color: rgb(39, 100, 110);
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    left: 30px;
    text-decoration: none;
    width: 180px;
    color: rgb(0, 238, 255);
}

.the-logo{
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 15px;
    left: 50px;
}
