ul {
    list-style-type: none;

}
li{
    float: left;
}

.logout{
    margin-right: 10px;
}

.nav{
    background-color: rgb(37, 37, 37);
    /* height: 60px; */
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}

.links{
    color: rgb(0, 238, 255);
    text-decoration: none;
    margin-right: 10px;
}

.homie{
    font-size: 24px;
    background-color: rgb(39, 100, 110);
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    left: 30px;
    text-decoration: none;
    width: 180px;
    color: rgb(0, 238, 255);
}

.the-logo{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 15px;
    left: 50px;
}


