.song-page{
    margin: 100px auto 250px;
    width: 30%;
    background-color: rgb(155, 155, 155);
    border: 5px groove rgb(35, 177, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solo-song{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-song-bttn{
position: relative;
right: 50px;
}

.song-title{
    text-align: center;
}

.x{
    font-size: 12px;
}

.e{
    font-size: 12px;
}

.comment-stuff{
    margin-bottom: 10px;
}

.the-comment{
    text-align: center;
    border-radius: 5px;
    width: auto;
    padding: 2px;
    border: solid 1px;
}
