.song-page{
    margin: 100px auto 354px;
    width: 30%;
    background-color: rgba(68, 68, 68, 0.705);
    border: 5px groove rgb(177, 145, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* TODO fix the play button position in the song page. it does not show up! */
.solo-song{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.like-count{
    color: rgb(255, 208, 0);
    font-family: 'Special Elite', cursive;
}

.new-song-bttn{
    position: absolute;
    top: -300px;
    left: 250px;
    z-index: 1000;
}

/* .new-song-bttn{
position: relative;
z-index: 1000;
} */

.song-title{
    color: rgb(255, 208, 0);
    text-align: center;
}

.x{
    font-size: 12px;
}

.e{
    font-size: 12px;
}

.comment-stuff{
    margin-bottom: 10px;
}

.the-comment{
    text-align: center;
    color: rgb(255, 208, 0);
    width: auto;
    padding: 2px;
    border: 3px;
    border-radius: 5px;
    border-color: rgb(177, 145, 0);
    border-style: groove groove groove;
}
