.upload{
    color: rgb(255, 208, 0);
    background-color: rgba(59, 59, 59, 0.726);
    border: 5px groove rgb(177, 145, 0);
    border-radius: 10px;
    width: 20%;
    margin: 100px auto 376px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    /* height: 900px; */
}

.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.picked{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

#submit{
    margin-top: 20px;
    margin-bottom: 25px;
}

.upload-labs{
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}

.upload-labs1{
    font-family: 'Special Elite', cursive;
    font-size: 24px;
}

@media screen and (min-width: 2499px){
    .upload{
        color: rgb(255, 208, 0);
        background-color: rgba(59, 59, 59, 0.726);
        border: 5px groove rgb(177, 145, 0);
        border-radius: 10px;
        width: 20%;
        margin: 300px auto 770px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
