.username{
    font-family: 'Special Elite', cursive;
    font-size: 42px;
    margin-top: 120px;
    margin-bottom: 350px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.all-user{
    display: flex;
    width: 60%;
    margin: 100px auto 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.user-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    /* left: 545px; */

    list-style: none;
}

#foo{
    display: none;
}
#play{
    display: none;
}

.shiz-giggles{
    display: flex;
    justify-content: space-between;
    width: 120px;
    float: left;
}

.all-songs{
        position: absolute;
        left: 20px;
        float: left;
}
.song-back{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.308);
}


.all-playlist{
    position: absolute;
        left: 80px;
        float: left;
}

.lis {
    padding-left: 10px;
    padding-right: 10px;

    float: left;
}

.lis-text{
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.user-all{

    width: 120px;
    height: 120px;
}
