/* TODO Add site wide styles */
body{
    margin: 0;
    height: 100%;
    background-color: rgba(155, 155, 155, 0.705);
    background-image: url('https://res.cloudinary.com/dzjkwepju/image/upload/v1639445155/Styckr/download_zy7r8q.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}


#root{
    height: 100%;
}
