/* TODO Add site wide styles */
body{
    margin: 0;
    height: 100%;
    background-color: rgb(168, 165, 163);
    margin-bottom: 10px;
}


#root{
    height: 100%;
    margin-bottom: 10px;
}
