.login-stuff{
    display: flex;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 225px;
    background-color: rgba(68, 68, 68, 0.705);
    color: rgb(255, 208, 0);
    border: 5px groove rgb(177, 145, 0);
    border-radius: 10px;
    margin: 100px auto 576px;
    width: 20%;
}

.break{
    margin-top:10px;
    margin-bottom:10px;
}

.break2{
    margin-top:15px;
    margin-bottom:15px;
}

#pad{
    margin-top:10px;
}


@media screen and (min-width: 2499px){
    .login-stuff{
        text-align: center;
        display: flex;
        font-family: 'Special Elite', cursive;
        font-size: 34px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 225px;
        background-color: rgba(68, 68, 68, 0.705);
        color: rgb(255, 208, 0);
        border: 5px groove rgb(177, 145, 0);
        border-radius: 10px;
        margin: 300px auto 876px;
        width: 20%;
    }

    .break{
        margin-top:15px;
        margin-bottom:15px;
    }
    .break2{
        font-size: 24px;
        margin-top:7px;
        margin-bottom:15px;
    }

    #pad{
        margin-top:20px;
    }
}
